# Generic python dependencies
black==25.1.0
mypy==1.17.1
pip==25.2
pre-commit==4.2.0
ruff==0.12.5

google-genai>=1.19.0
ical>=8.2.0

# Home Assistant testing dependencies
pytest-homeassistant-custom-component==0.13.269
syrupy>=4.6.1

# Component dependencies
hassil>=2.0.4
home-assistant-intents>=2024.4.3
mutagen>=1.47.0

mashumaro>=3.13.1
ical>=8.1.1
